.Blogentry {
    width: 300px; 
    margin: 2%; 
    background-color: white;
    border: 1px solid rgb(211,211,211,0.8);
    transition: transform 0.5s linear;
    animation: appearing-divs 0.5s ease-in;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.previewImage {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    margin: 0;
}

.entryBox {
    background-color: white; 
    padding: 1% 8px 0 8px;
}

.profileImage {
    height: 30px; 
    width: 30px; 
    object-fit: cover; 
    border-radius: 50%; 
    vertical-align: middle; 
    float: left; 
    margin-right: 10px;
}

@keyframes appearing-divs {
    0% {opacity: 0; transform: translateX(-30px)};
    100% {opacity: 1; transform: translateX(0px)}
}

@media (max-width: 395px) {
    .Blogentry {
      width: 100%;
    }
  }

@media (min-width: 576px) {
    .Blogentry:hover {
        transform: scale(1.1);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 16px 48px;
      }
}