.detailpageWrapper {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: white; 
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
}

.detailpageContainer {
    width: 700px; 
    max-width: 100vw; 
    background-color: white; 
    position: relative; 
    margin: 0px auto;
}

.orangeBTN {
    padding: 8px; 
    background-color: #FF8C00; 
    border-style: none; 
    border-radius: 20px; 
    width: 90px;
    color: white;
}

.detailpagePortrait {
    float: left; 
    height: 40px; 
    width: 40px; 
    object-fit: cover; 
    border-radius: 50%; 
    vertical-align: middle;

}

.detailpageImage {
    width: 100%; 
    max-width: 500px; 
    display: block; 
    margin: 0 auto;
}

.detailpageContentbox {
    padding: 0 10px;
    max-width: 500px; 
    margin: 0 auto;
}

.detailpageText {
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto; 
    padding-bottom: 30px;
}

.detailpageMapcontainer {
    width: 700px; 
    max-width: 100%;
    min-height: 100vh; 
    justify-content: center;
    margin-right: 0;
}

