@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  background-color: #F1F1F1;
  font-family: "Roboto";
  
}

.App {
  //text-align: center;
  
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dashboardMainFlexbox {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

.dashboardSubFlexbox {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 700px; 
  justify-content: center;
}

.dashboardMapcontainer {
  width: 700px; 
  height: 1000px; 
  justify-content: center; 
  margin: 14px auto;
}

.descriptionBox {
  max-width: 698px; 
  width: 99.8%; 
  background-color: #00BCD4; 
  color: white; 
  border: 1px solid #00BCD4;
}

.descriptionIllustration {
  float: right; 
  width: 100px; 
  margin: 10px;
}

.descriptionText {
  padding: 5%; 
  font-size: 1.2em;
}

.navbar {
  background-color: #00BCD4; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center;
}

.contactBTN {
  margin: 8px; 
  padding: 8px; 
  text-decoration: none; 
  color: white; 
  width: 90px; 
  border-style: none; 
  background: none;
}

nav h1 {
  text-align: left;
  margin: 1% 20px;
  width: 600px;
  color: white;
}


.navBTN {
  margin: 8px; 
  padding: 8px; 
  background-color: #32CD32; 
  border-style: none; 
  border-radius: 20px; 
  width: 90px; 
  color: white;
}

.navBTNs {
  margin: 0 0 0 auto; 
  float: right;
}


.navlogo {
  margin: 0 20px 10px; 
  float: left;
  height: 60px;
  width: 60px;
}



button:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: inset 0 0 1px 2px rgba(253, 253, 253, 0.692);
}

button:active {
  transition: 0.3s;
  transform: scale(0.9);
  box-shadow: inset 0 0 2px 4px rgba(200, 200, 200, 0.692);
}



@media (max-width: 600px){
  nav h1{margin: 10px auto; text-align: center};
}

@media (max-width: 600px){
  .navBTNs{margin: 10px auto};
}

@media (max-width: 600px){
  .navlogo{margin: 0px auto; height: 70px; width: 70px} 
}

@media (max-width: 600px) {
  .navTitle{display: none}
}